<div class="col-xl-12 col-lg-12 col-12 bottom-30">
    <div widget class="card">
        <div class="card-header">
            <span>Create Medical Practice User</span>
            <div class="widget-controls">
                <!--<a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>-->
                <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>
                <!--<a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>-->
            </div>
        </div>
        <div class="card-body widget-body">


            <form [formGroup]="form" class="form-horizontal" (ngSubmit)="onSubmit(form.value)">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row ">

                            <label for="username" class="col-lg-3 form-control-label m-t-5">Username</label>
                            <div class="col-lg-9 ">
                                <input formControlName="username" class="form-control checking-field" placeholder="Username">
                                <span class="help-block" *ngIf="form.get('username').touched">
                                    <span class="text-danger" *ngIf="form.get('username').hasError('required')">Username is required</span>
                                    <span class="text-danger" *ngIf="form.get('username').hasError('minlength')">Minimum of 3 characters</span>
                                </span>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="form-group row ">
                            <label for="role" class="col-lg-3 form-control-label m-t-5">Role</label>
                            <div class="col-lg-9">
                                <select class="form-control" formControlName="role">
                                    <option value="">Select role</option>
                                    <option *ngFor="let role of Roles" [value]="role.id">{{role.name}}</option>
                                </select>
                            </div>
                        </div>
                       
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row ">
                            <label for="firstname" class="col-lg-3 form-control-label m-t-5">First Name</label>
                            <div class="col-lg-9">
                                <input formControlName="firstname" class="form-control checking-field" placeholder="First Name">
                                <span class="help-block" *ngIf="form.get('firstname').touched">
                                    <span class="text-danger" *ngIf="form.get('firstname').hasError('required')">First Name is required</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="role" class="col-lg-3 form-control-label m-t-5">Location</label>
                            <div class="col-lg-9">
                                <select class="form-control" formControlName="role">
                                    <option value="">Select location</option>
                                    <option *ngFor="let location of locations" [value]="location.id">{{location.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row ">
                            <label for="lastname" class="col-lg-3 form-control-label m-t-5">Last Name</label>
                            <div class="col-lg-9">
                                <input formControlName="lastname" class="form-control checking-field" placeholder="Last Name">
                                <span class="help-block" *ngIf="form.get('lastname').touched">
                                    <span class="text-danger" *ngIf="form.get('lastname').hasError('required')">Last Name is required</span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row ">
                            <div class="col-lg-3 form-control-label m-t-5">
                                <input type="checkbox" class="abc-checkbox abc-checkbox-primary" formControlName="isEnabled" id="checkbox-h-f">
                            </div>
                            <label for="checkbox-h-f col-lg-3">Disabled</label>
                        </div>
                    </div>
                    
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row ">
                            <label for="email" class="col-lg-3 form-control-label m-t-5">Email</label>
                            <div class="col-lg-9">
                                <input formControlName="email" class="form-control checking-field" placeholder="Email" type="text">
                                <span class="help-block" *ngIf="form.get('email').touched">
                                    <span class="text-danger" *ngIf="form.get('email').hasError('required')">Email is required</span>
                                    <span class="text-danger" *ngIf="form.get('email').hasError('invalidEmail')">Invalid email address</span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row ">
                            <label for="password" class="col-lg-3 form-control-label m-t-5">Password</label>
                            <div class="col-lg-9">
                                <input formControlName="password" class="form-control checking-field" placeholder="Password" type="text" minlength="6">
                                <span class="help-block" *ngIf="form.get('password').touched">
                                    <span class="text-danger" *ngIf="form.get('password').hasError('required')">Password is required</span>
                                    <span class="text-danger" *ngIf="form.get('password').hasError('minlength')">Password isn't long enough, minimum of 6 characters</span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 m-t-5">
                        <button class="btn btn-primary" (click)="onPasswordGenerate($event)">Generate</button>
                    </div>
                </div>

                <!--<div class="row ">
                    <div class="col-md-6">
                        <div class="form-group row text-lg-right">
                            <label for="confirmPassword" class="col-lg-3 form-control-label m-t-5">Confirm Password</label>
                            <div class="col-lg-9">
                                <input formControlName="confirmPassword" class="form-control checking-field" placeholder="Confirm Password" type="password">
                                <span class="help-block" *ngIf="form.get('confirmPassword').touched">
                                    <span class="text-danger" *ngIf="form.get('confirmPassword').hasError('required')">Confirm Password is required</span>
                                    <span class="text-danger" *ngIf="form.get('confirmPassword').hasError('mismatchedPasswords')">Passwords do not match</span>
                                </span>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">

                    </div>
                </div>-->

                <div class="row">
                    <div class="col-lg-6">
                        <div class="col-lg-12 p-0">
                            <div class="col-lg-12 form-control-label m-t-5 p-0">
                                <input type="checkbox" formControlName="locked" class="abc-checkbox abc-checkbox-primary" id="checkbox-h-f">
                                <label for="checkbox-h-f">Locked</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <span>Last logged In: </span> 1/1/2018 13:18:59
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-12 form-control-label m-t-5 p-0">
                            <input type="checkbox" formControlName="sendActivationMail" class="abc-checkbox abc-checkbox-primary" id="checkbox-h-f">
                            <label for="checkbox-h-f">Send Activation Email</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-12 form-control-label m-t-5 p-0">
                            <input type="checkbox" formControlName="passwordChange" class="abc-checkbox abc-checkbox-primary" id="checkbox-h-f">
                            <label for="checkbox-h-f">Password Change upon Next Logon</label>
                        </div>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-lg-6"></div>
                    <div class="col-lg-6 text-lg-center">
                        <button class="btn btn-main  " type="submit">Cancel</button>
                        <button [disabled]="!form.valid" class="btn btn-main " type="submit">Create</button>
                    </div>
                </div>


            </form>

        </div>
    </div>
</div>