<div class="col-xl-12 col-lg-12 col-12 bottom-30">
  <div widget class="card">

    <div class="card-body widget-body">


      <form [formGroup]="form" class="form-horizontal" (ngSubmit)="onSubmit(form.value)">

        <div class="row">
          <div class="col-md-6">
            <div class="form-group row ">

              <label for="username" class="col-lg-3 form-control-label m-t-5">Username</label>
              <div class="col-lg-9 ">
                <input formControlName="username" [readonly]="isDisabled" class="form-control checking-field" placeholder="Username" type="text">
                <span class="help-block" *ngIf="form.get('username').touched">
                    <span class="text-danger" *ngIf="form.get('username').hasError('required')">Username is required</span>
                    <span class="text-danger" *ngIf="form.get('username').hasError('minlength')">Minimum of 3 characters</span>
                </span>
              </div>

            </div>
          </div>
          <div class="col-md-6">

            <div class="form-group row ">
              <label for="role" class="col-lg-3 form-control-label m-t-5">Role</label>
              <div class="col-lg-9">
                <select class="form-control" formControlName="role">
                  <option value="">Select role</option>
                  <option *ngFor="let role of Roles" [value]="role.id">{{role.name}}</option>
                </select>
              </div>
            </div>

            <!--<div class="row">
                <div class="col-md-6">

                </div>

                <div class="col-md-6">

                    <div class="form-group row text-lg-right">
                        <label for="title" class="col-lg-3 form-control-label m-t-5">Title</label>
                        <div class="col-lg-9">
                            <select class="form-control" formControlName="title">
                                <option value="1">Mr</option>
                                <option value="2">Mrs</option>
                                <option value="3">Mr</option>
                                <option value="4">Dr</option>

                            </select>
                        </div>
                    </div>

                </div>

            </div>-->



          </div>
        </div>



        <div class="row">
          <div class="col-md-6">
            <div class="form-group row ">
              <label for="firstname" class="col-lg-3 form-control-label m-t-5">First Name</label>
              <div class="col-lg-9">
                <input formControlName="firstname" class="form-control checking-field" placeholder="First Name" type="text">
                <span class="help-block" *ngIf="form.get('firstname').touched">
                                    <span class="text-danger" *ngIf="form.get('firstname').hasError('required')">First Name is required</span>
                                </span>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="col-lg-3 form-control-label m-t-5 p-0">
              <input type="checkbox" class="abc-checkbox abc-checkbox-primary" formControlName="isEnabled" id="checkbox-h-f">
              <label for="checkbox-h-f">Disabled</label>
            </div>
            <div class="col-lg-9">


            </div>


          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group row ">
              <label for="lastname" class="col-lg-3 form-control-label m-t-5">Last Name</label>
              <div class="col-lg-9">
                <input formControlName="lastname" class="form-control checking-field" placeholder="Last Name" type="text">
                <span class="help-block" *ngIf="form.get('lastname').touched">
                                    <span class="text-danger" *ngIf="form.get('lastname').hasError('required')">Last Name is required</span>
                                </span>
              </div>
            </div>
          </div>

          <div class="col-md-6">

          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group row ">
              <label for="email" class="col-lg-3 form-control-label m-t-5">Email</label>
              <div class="col-lg-9">
                <input formControlName="email" class="form-control checking-field" placeholder="Email" type="text">
                <span class="help-block" *ngIf="form.get('email').touched">
                                    <span class="text-danger" *ngIf="form.get('email').hasError('required')">Email is required</span>
                                    <span class="text-danger" *ngIf="form.get('email').hasError('invalidEmail')">Invalid email address</span>
                                </span>
              </div>
            </div>
          </div>

          <div class="col-md-6">

          </div>
        </div>

        <div class="row">
          <div class="col-md-6">


            <div class="form-group row ">
              <label for="password" class="col-lg-3 form-control-label m-t-5">Password</label>
              <div class="col-lg-9">
                <input formControlName="password" class="form-control checking-field" placeholder="Password" type="text" minlength="6">
                <span class="help-block" *ngIf="form.get('password').touched">
                                    <span class="text-danger" *ngIf="form.get('password').hasError('required')">Password is required</span>
                                    <span class="text-danger" *ngIf="form.get('password').hasError('minlength')">Password isn't long enough, minimum of 6 characters</span>
                                </span>
              </div>
            </div>
          </div>

          <div class="col-md-6 m-t-5">
            <button class="btn btn-primary" (click)="onPasswordGenerate($event)">Generate</button>
          </div>
        </div>

        <!--<div class="row ">
            <div class="col-md-6">
                <div class="form-group row text-lg-right">
                    <label for="confirmPassword" class="col-lg-3 form-control-label m-t-5">Confirm Password</label>
                    <div class="col-lg-9">
                        <input formControlName="confirmPassword" class="form-control checking-field" placeholder="Confirm Password" type="password">
                        <span class="help-block" *ngIf="form.get('confirmPassword').touched">
                            <span class="text-danger" *ngIf="form.get('confirmPassword').hasError('required')">Confirm Password is required</span>
                            <span class="text-danger" *ngIf="form.get('confirmPassword').hasError('mismatchedPasswords')">Passwords do not match</span>
                        </span>
                    </div>
                </div>

            </div>

            <div class="col-md-6">

            </div>
        </div>-->

        <div class="row">
          <div class="col-lg-6">
            <div class="col-lg-12 p-0">
              <div class="col-lg-12 form-control-label m-t-5 p-0">
                <input type="checkbox" formControlName="locked" class="abc-checkbox abc-checkbox-primary" id="checkbox-h-f">
                <label for="checkbox-h-f">Locked</label>
              </div>
            </div>
          </div>

          <div class="col-lg-6" *ngIf="isUpdate">
            <span>Last logged In: </span><span class="margeAccess">{{user?.lastAccess | date:'M/d/yyyy h:mm'}}</span>
          </div>

        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="col-lg-12 form-control-label m-t-5 p-0">
              <input type="checkbox" formControlName="sendActivationMail" class="abc-checkbox abc-checkbox-primary" id="checkbox-h-f">
              <label for="checkbox-h-f">Send Activation Email</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="col-lg-12 form-control-label m-t-5 p-0">
              <input type="checkbox" formControlName="passwordChange" class="abc-checkbox abc-checkbox-primary" id="checkbox-h-f">
              <label for="checkbox-h-f">Password Change upon Next Logon</label>
            </div>
          </div>
        </div>


        <div class="form-group row">
          <div class="col-lg-6"></div>
          <div class="col-lg-6 text-lg-center">
            <button type="reset" class="btn btn-main" [routerLink]="['../../listlabusers']">Cancel</button>
            <button [disabled]="!form.valid" class="btn btn-main " *ngIf="!isUpdate" type="submit">Create</button>
            <button [disabled]="!form.valid" class="btn btn-main " *ngIf="isUpdate" type="submit">Update</button>
          </div>
        </div>


      </form>

    </div>
  </div>
</div>