<div class="row">
  <div class="col bottom-30">
    <div widget class="card">
      <div class="card-body widget-body">
        <div class="input-group input-group-sm my-3">
          <a class="btn btn-main" [routerLink]="['../editlabprofile', '']">Add a Lab Profile</a>
        </div>
        <ngx-datatable #table
                       class="bootstrap"
                       [headerHeight]="30"
                       [limit]="10"
                       [columnMode]="'force'"
                       [footerHeight]="30"
                       [rowHeight]="'auto'"
                       [rows]="rows">
          <ngx-datatable-column name="Name" prop="businessEntity.name">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              <a [routerLink]="['../editlabprofile', row.id]"> {{value}} </a>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Contact" prop="businessEntity.contactName">
            <ng-template ngx-datatable-cell-template let-value="value">
              {{value}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Phone" prop="businessEntity.phone">
            <ng-template ngx-datatable-cell-template let-value="value">
              {{value}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="City" prop="businessEntity.city">
            <ng-template ngx-datatable-cell-template let-value="value">
              {{value}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="State" prop="businessEntity.state">
            <ng-template ngx-datatable-cell-template let-value="value">
              {{value}}
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>
