<!--<p>
    editorg works!
</p>-->

<div class="row bottom-30">
    <div class="col">
        <ul class="nav nav-tabs top tabs-primary" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#p1" role="tab" data-toggle="tab">AHS Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#p2" role="tab" data-toggle="tab">Roles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#p3" role="tab" data-toggle="tab">Users</a>
            </li>
        </ul>
        <div class="tab-content tab-content-default">
            <div class="tab-pane fade show active" id="p1">
                <div class="row">
                    <div class="col">
                        <div widget class="card">
                            <div class="card-body widget-body">
                                <form [formGroup]="form" class="form-horizontal" (ngSubmit)="onSubmit(form.value)">
                                    <div class="form-group row">
                                        <label for="name" class="col-sm-3 form-control-label m-t-5">Name</label>
                                        <div class="col-sm-9">
                                            <input formControlName="name" type="text" class="form-control" />
                                            <span class="help-block" *ngIf="form.get('name').touched">
                                                <span class="text-danger" *ngIf="form.get('name').hasError('required')">Name is required</span>
                                                <span class="text-danger" *ngIf="form.get('name').hasError('minlength')">Minimum of 1 character</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="displayName" class="col-sm-3 form-control-label m-t-5">Display Name</label>
                                        <div class="col-sm-9">
                                            <input formControlName="displayName" type="text" class="form-control" />
                                            <span class="help-block" *ngIf="form.get('displayName').touched">
                                                <span class="text-danger" *ngIf="form.get('displayName').hasError('required')">Display name is required</span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="website" class="col-sm-3 form-control-label m-t-5">Logo</label>
                                        <div class="col-sm-7">
                                            Show logo here
                                        </div>
                                        <div class="col-sm-2">
                                            Upload new logo
                                        </div>
                                    </div>

                                    <!--<div class="form-group row">
                                        <label for="contactName" class="col-sm-3 form-control-label m-t-5">Contact Person</label>
                                        <div class="col-sm-9">
                                            <input formControlName="contactName" type="text" class="form-control" />
                                        </div>
                                    </div>-->
                                    <div class="form-group row">
                                        <label for="email" class="col-sm-3 form-control-label m-t-5">Email</label>
                                        <div class="col-sm-9">
                                            <input formControlName="email" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="phone" class="col-sm-3 form-control-label m-t-5">Phone</label>
                                        <div class="col-sm-9">
                                            <input formControlName="phone" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="fax" class="col-sm-3 form-control-label m-t-5">Fax</label>
                                        <div class="col-sm-9">
                                            <input formControlName="fax" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="address1" class="col-sm-3 form-control-label m-t-5">Address1</label>
                                        <div class="col-sm-9">
                                            <input formControlName="address1" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <!--<div class="form-group row">
                                        <label for="address2" class="col-sm-3 form-control-label m-t-5">Address2</label>
                                        <div class="col-sm-9">
                                            <input formControlName="address2" type="text" class="form-control" />
                                        </div>
                                    </div>-->
                                    <div class="form-group row">
                                        <label for="city" class="col-sm-3 form-control-label m-t-5">City</label>
                                        <div class="col-sm-9">
                                            <input formControlName="city" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="state" class="col-sm-3 form-control-label m-t-5">State</label>
                                        <div class="col-sm-9">
                                            <input formControlName="state" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="zip" class="col-sm-3 form-control-label m-t-5">Zip Code</label>
                                        <div class="col-sm-9">
                                            <input formControlName="zip" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="website" class="col-sm-3 form-control-label m-t-5">Website URL</label>
                                        <div class="col-sm-9">
                                            <input formControlName="website" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <!--<div class="form-group row">
                                        <label for="country" class="col-sm-3 form-control-label m-t-5">Country</label>
                                        <div class="col-sm-9">
                                            <input formControlName="country" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="createdAt" class="col-sm-3 form-control-label m-t-5">Created At</label>
                                        <div class="col-sm-9">
                                            {{createdAt}}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="createdBy" class="col-sm-3 form-control-label m-t-5">Created By</label>
                                        <div class="col-sm-9">
                                            {{createdBy}}
                                        </div>
                                    </div>-->
                                    <div class="form-group row">
                                        <div class="col-sm-12 text-right">
                                            <button class="btn" (click)="cancelme($event)">Cancel</button>
                                            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                            <button class="btn btn-main" type="submit">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="p2">
                <az-listorgroles></az-listorgroles>
            </div>
            <div class="tab-pane fade" id="p3">
                <ahs-listorguser></ahs-listorguser>
            </div>
        </div>
    </div>
</div>



