<div class="row">
  <div class="col">
    <div widget class="card">
      <div class="card-header">
        <span>Add a Location</span>
      </div>
      <div class="card-body widget-body">
        <form [formGroup]="form" class="form-horizontal" (ngSubmit)="onSubmit(form.value)">
          <div class="form-group row">
            <label for="name" class="col-sm-3 form-control-label m-t-5">*Location Name</label>
            <div class="col-sm-9">
              <input formControlName="name" type="text" class="form-control" />
              <span class="help-block" *ngIf="form.get('name').touched">
                                            <span class="text-danger" *ngIf="form.get('name').hasError('required')">Name is required</span>
                                            <span class="text-danger" *ngIf="form.get('name').hasError('minlength')">Minimum of 1 character</span>
                                        </span>
            </div>
          </div>


          <div class="form-group row">
            <label for="address1" class="col-sm-3 form-control-label m-t-5">*Address</label>
            <div class="col-sm-9">
              <input formControlName="address1" type="text" class="form-control" />
              <span class="help-block" *ngIf="form.get('address1').touched">
                                            <span class="text-danger" *ngIf="form.get('address1').hasError('required')">Address name is required</span>
                                        </span>
            </div>
          </div>

          <div class="form-group row">
            <label for="city" class="col-sm-3 form-control-label m-t-5">*City</label>
            <div class="col-sm-9">
              <input formControlName="city" type="text" class="form-control" />
              <span class="help-block" *ngIf="form.get('city').touched">
                                            <span class="text-danger" *ngIf="form.get('city').hasError('required')">City is required</span>
                                        </span>
            </div>
          </div>
          <div class="form-group row">
            <label for="state" class="col-sm-3 form-control-label m-t-5"><span>*</span>State</label>
            <div class="col-sm-9">
              <select formControlName="state" id="selectState" class="form-control custom-select">
                <option *ngFor="let state of states" value="{{state.abbreviation}}">{{state.name}}</option>
              </select>
              <span class="help-block" *ngIf="form.get('state').touched">
                        <span class="text-danger" *ngIf="form.get('state').hasError('required')">State is required</span>
                    </span>
            </div>
          </div>
          <div class="form-group row">
            <label for="zip" class="col-sm-3 form-control-label m-t-5">*Zip code</label>
            <div class="col-sm-9">
              <input formControlName="zip" type="text" class="form-control" />
              <span class="help-block" *ngIf="form.get('zip').touched">
                                            <span class="text-danger" *ngIf="form.get('zip').hasError('required')">Zip code is required</span>
                                        </span>
            </div>
          </div>

          <div class="form-group row">
            <label for="phone" class="col-sm-3 form-control-label m-t-5">*Phone</label>
            <div class="col-sm-9">
              <input formControlName="phone" type="text" class="form-control" />
              <span class="help-block" *ngIf="form.get('phone').touched">
                                            <span class="text-danger" *ngIf="form.get('phone').hasError('required')">Phone is required</span>
                                        </span>
            </div>
          </div>
          <div class="form-group row">
            <label for="fax" class="col-sm-3 form-control-label m-t-5">*Fax</label>
            <div class="col-sm-9">
              <input formControlName="fax" type="text" class="form-control" />
              <span class="help-block" *ngIf="form.get('fax').touched">
                                            <span class="text-danger" *ngIf="form.get('fax').hasError('required')">Fax is required</span>
                                        </span>
            </div>
          </div>
          <div class="form-group row">
            <label for="contact" class="col-sm-3 form-control-label m-t-5">*Contact</label>
            <div class="col-sm-9">
              <input formControlName="contact" type="text" class="form-control" />
              <span class="help-block" *ngIf="form.get('contact').touched">
                                            <span class="text-danger" *ngIf="form.get('contact').hasError('required')">Contact is required</span>
                                        </span>
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-sm-3 form-control-label m-t-5">Contact Email</label>
            <div class="col-sm-9">
              <input formControlName="email" type="text" class="form-control" />
            </div>
          </div>


          <div class="form-group row">
            <div class="col-sm-12 text-right">
              <button class="btn" (click)="cancelme($event)">Cancel</button>
              <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <button class="btn btn-main" type="submit">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
