<div class="row">    
    <div class="col bottom-30">
                <div class="row bottom-30">
                    <div class="col">
                        <ul class="nav nav-tabs top tabs-primary" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#p1" role="tab" data-toggle="tab">Medical Practice Profile</a>
                            </li>
                            <li class="nav-item" *ngIf="isUpdate">
                                <a class="nav-link" href="#p2"  role="tab" (click)="onLocation()" data-toggle="tab">Locations</a>
                            </li>
                            <li class="nav-item" *ngIf="isUpdate">
                                <a class="nav-link" href="#p3" (click)="onUsers()" role="tab" data-toggle="tab">Users</a>
                            </li>
                        
                            
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="p1">
                                <div widget class="card">
                                    <div class="card-header">
                                        <span>Account (Medical Practice) Setup</span>
                                      </div>
                                    <div class="card-body widget-body">
                                        <form [formGroup]="form" class="form-horizontal" (ngSubmit)="onFormSubmit(form.value)">
                                            <div class="form-group row">
                                                <label for="name" class="col-sm-3 form-control-label m-t-5"><span class="text-danger font-weight-bold">*</span>Name</label>
                                                <div class="col-sm-9">
                                                    <input formControlName="name" type="text" class="form-control checking-field" required />
                                                    <span class="help-block" *ngIf="form.get('name').touched">
                                                        <span class="text-danger" *ngIf="form.get('name').touched && form.get('name').hasError('required')">Name is required</span>
                                                        <span class="text-danger" *ngIf="form.get('name').touched && form.get('name').hasError('minlength')">Minimum of 1 character</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="displayName" class="col-sm-3 form-control-label m-t-5"><span class="text-danger font-weight-bold">*</span>Display Name</label>
                                                <div class="col-sm-9">
                                                    <input formControlName="displayName" type="text" class="form-control checking-field" required />
                                                    <span class="help-block" *ngIf="form.get('displayName').touched">
                                                        <span class="text-danger" *ngIf="form.get('displayName').touched && form.get('displayName').hasError('required')">Display name is required</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="address" class="col-sm-3 form-control-label m-t-5"><span class="text-danger font-weight-bold">*</span>Address</label>
                                                <div class="col-sm-9">
                                                    <input formControlName="address" type="text" class="form-control checking-field" />
                                                    <span class="help-block" *ngIf="form.get('address').touched">
                                                        <span class="text-danger" *ngIf="form.get('address').touched && form.get('address').hasError('required')">Address is required</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="city" class="col-sm-3 form-control-label m-t-5"><span class="text-danger font-weight-bold">*</span>City</label>
                                                <div class="col-sm-9">
                                                    <input formControlName="city" type="text" class="form-control checking-field" />
                                                    <span class="help-block" *ngIf="form.get('city').touched">
                                                        <span class="text-danger" *ngIf="form.get('city').touched && form.get('city').hasError('required')">City is required</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="state" class="col-sm-3 form-control-label m-t-5"><span class="text-danger font-weight-bold">*</span>State</label>
                                                <div class="col-sm-9">
                                                  <select formControlName="state" id="exampleSelect3" class="form-control custom-select checking-field">
                                                      <option *ngFor="let state of states" value="{{state.abbreviation}}">{{state.name}}</option>
                                                  </select>
                                                  <span class="help-block" *ngIf="form.get('state').touched">
                                                      <span class="text-danger" *ngIf="form.get('state').touched && form.get('state').hasError('required')">State is required</span>
                                                  </span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="zip" class="col-sm-3 form-control-label m-t-5"><span class="text-danger font-weight-bold">*</span>Zip Code</label>
                                                <div class="col-sm-9">
                                                    <input formControlName="zip" type="text" class="form-control checking-field" />
                                                    <span class="help-block" *ngIf="form.get('zip').touched">
                                                        <span class="text-danger" *ngIf="form.get('zip').touched && form.get('zip').hasError('required')">Zip code is required</span>
                                                        <span class="text-danger" *ngIf="form.get('zip').touched && form.get('zip').hasError('pattern')">Invalid zip code </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="npi" class="col-sm-3 form-control-label m-t-5"><span class="text-danger font-weight-bold">*</span>NPI</label>
                                                <div class="col-sm-9">
                                                    <input formControlName="npi" type="text" class="form-control checking-field" />
                                                    <span class="help-block" *ngIf="form.get('npi').touched">
                                                        <span class="text-danger" *ngIf="form.get('npi').touched && form.get('npi').hasError('required')">NPI is required</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div id="idPhoneMP" class="form-group row">
                                                <label for="phone" class="col-sm-3 form-control-label m-t-5"><span class="text-danger font-weight-bold">*</span>Phone</label>
                                                <div class="col-sm-9">
                                                    <!-- <input formControlName="phone" type="text" class="form-control checking-field" /> -->
                                                    <int-phone-prefix class="checking-field" maxLength="15" showDropdown="false"  defaultCountry="us" [locale]="'en'"  formControlName="phone"></int-phone-prefix>
                                                    <span class="help-block" *ngIf="form.get('phone').touched">
                                                        <span class="text-danger" *ngIf="form.get('phone').touched && form.get('phone').hasError('required')">Phone is required</span>
                                                        <span class="help-block text-danger" *ngIf="form.get('phone').touched && form.get('phone').hasError('invalidPhoneNumber')">Invalid phone number</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="fax" class="col-sm-3 form-control-label m-t-5"><span class="text-danger font-weight-bold">*</span>Fax</label>
                                                <div class="col-sm-9">
                                                    <input formControlName="fax" type="text" class="form-control checking-field" />
                                                    <span class="help-block" *ngIf="form.get('fax').touched">
                                                        <span class="text-danger" *ngIf="form.get('fax').touched && form.get('fax').hasError('required')">Fax is required</span>
                                                        <span class="help-block text-danger" *ngIf="form.get('fax').touched && form.get('fax').hasError('invalidNumber')">Invalid fax number</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="contactName" class="col-sm-3 form-control-label m-t-5"><span class="text-danger font-weight-bold">*</span>Contact</label>
                                                <div class="col-sm-9">
                                                    <input formControlName="contactName" type="text" class="form-control checking-field" placeholder="First name, Last name" />
                                                    <span class="help-block" *ngIf="form.get('contactName').touched">
                                                        <span class="text-danger" *ngIf="form.get('contactName').touched && form.get('contactName').hasError('required')">Contact is required</span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group row" >
                                                <label for="email" class="col-sm-3 form-control-label m-t-5">Contact Email</label>
                                                <div class="form-group col-sm-9">
                                                    <input formControlName="email" type="text" class="form-control checking-field" />
                                                    <span class="help-block text-danger" *ngIf="form.get('email').touched && form.get('email').hasError('invalidEmail')">Invalid email address</span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="testRights" class="col-sm-3 form-control-label m-t-5">Ancillary Tests</label>
                                                <div class="form-group radio col-sm-9">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" formControlName="testRightsPGx" value="{{testRight.PGx}}" [checked]="isCheckedPgx" class="custom-control-input" id="checkboxDefault">
                                                        <label class="custom-control-label" for="checkboxDefault">PGx</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" formControlName="testRightsCancer" value="{{testRight.Cancer}}" [checked]="isCheckedCan" class="custom-control-input" id="checkboxPrimary">
                                                        <label class="custom-control-label" for="checkboxPrimary">Cancer</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" formControlName="testRightsToxicology" value="{{testRight.Toxicology}}" [checked]="isCheckedTox" class="custom-control-input" id="checkboxSuccess">
                                                        <label class="custom-control-label" for="checkboxSuccess">Toxicology</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="website" class="col-sm-3 form-control-label m-t-5">Website URL</label>
                                                <div class="col-sm-9">
                                                    <input formControlName="website" type="text" class="form-control checking-field" />
                                                    <span class="help-block text-danger" *ngIf="form.get('website').touched && form.get('website').hasError('invalidUrl')">Invalid url address</span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="logo" class="col-sm-3 form-control-label m-t-5">Logo</label>
                                                <div col="col-sm-6" style="padding-left:20px;">
                                                  <input id="logoImage" type="file" (change)="fileChange(input)" #input class="img-upload-btn" />
                                                  <div class="image-wrapper">
                                                      <i *ngIf="image" class="fa fa-times delete-img" (click)="removeImage()"></i>
                                                      <img [attr.src]="image" *ngIf="image" width="100">
                                                      <!--<img src="assets/img/app/no-image.png" *ngIf="!image" width="100" height="100">-->
                                                      <img [attr.src]="logoUrl" *ngIf="!image && logoUrl" width="100">
                                                  </div>
                                                </div>
                                                <div col="col-sm-3">
                                                    <button class="btn btn-main btn-block" style="width:100px;margin-top:0px;" type="button">
                                                        <span *ngIf="logoUrl === defaultLogo"><i class="fa fa-upload"></i> Upload</span>
                                                        <span *ngIf="logoUrl != defaultLogo"><i class="fa fa-refresh"></i> Change</span>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-12 text-right">
                                                    <button class="btn" (click)="cancelme($event)">Cancel</button>
                                                    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                    <button *ngIf="isUpdate; else elseTemplate" class="btn btn-main" type="submit" [disabled]="!form.valid">Update</button>
                                                    <ng-template #elseTemplate>
                                                        <button  class="btn btn-main" type="submit" [disabled]="!form.valid">Save</button>
                                                    </ng-template>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="p2">
                                <router-outlet name="locationOutlet"></router-outlet>
                                <!-- <ahs-mp-listlocation (listMPLocations)="listMPLocations($event)"></ahs-mp-listlocation> -->
                            </div>
                            <div class="tab-pane fade" id="p3">
                               <router-outlet name="userOutlet"></router-outlet>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
  </div>

<div class="my-loading">
    <ngx-loading [show]="loading">
    </ngx-loading>
</div>