
<div class="row">
  <div class="col">
    <div widget class="card">
      <div class="card-body widget-body">
        <div class="input-group input-group-sm my-3">
          <a class="btn btn-main" [routerLink]="['../editlabuser', '']" skipLocationChange>Add a Lab User</a>
        </div>
        <div class="input-group input-group-sm my-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-search"></i></span>
          </div>
          <input class="form-control" type="text" placeholder="Search ..." (keyup)="updateFilter($event)" />
        </div>

        <ngx-datatable #table
                       class="bootstrap"
                       [headerHeight]="30"
                       [limit]="10"
                       [columnMode]="'force'"
                       [footerHeight]="30"
                       [rowHeight]="'auto'"
                       [rows]="rows">
          <ngx-datatable-column [width]="30"
                                [sortable]="false"
                                [canAutoResize]="false"
                                [draggable]="false"
                                [resizeable]="false"
                                [headerCheckboxable]="false"
                                [checkboxable]="false">
          </ngx-datatable-column>
          <ngx-datatable-column name="Email" prop="email">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
              <a [routerLink]="['../editlabuser', row.id]" skipLocationChange> {{value}} </a>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Username" prop="userName">
            <ng-template ngx-datatable-cell-template let-value="value">
              {{value}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="First Name" prop="firstName">
            <ng-template ngx-datatable-cell-template let-value="value">
              {{value}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Last Name" prop="lastName">
            <ng-template ngx-datatable-cell-template let-value="value">
              {{value}}
            </ng-template>
          </ngx-datatable-column>


        </ngx-datatable>
      </div>
    </div>
  </div>
</div>