body {
    font-family: Verdana, Arial;
    font-size: 13px;
}

.card-header {
    text-align:center;
    background-color:cadetblue;
}
.datatable-header-row {
    background-color: azure;
}
.datatable-header-cell {

}
.tbaslabel {
    outline: none;
    border: none;
}

.btnGW {
    background-color: darkgreen;
    color: white;
}

input[type=text], select {
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 13px;
    font-family: inherit;
}
input[type=email], select {
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 13px;
    font-family: inherit;
}
input[type=password], select {
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 13px;
    font-family: inherit;
}
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 8px;
    border: 5px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
}

.nav-tabs .nav-link {
    background-color: grey;
    color: antiquewhite;
    border: solid;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    width: auto;
}

.nav-link.active, .nav-link.show {
    background-color: #fff;
    color: #242D3A;
    font-weight: bold;
    border: solid;
    border-width: 1px;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
}

#phoneStyle  input {
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 13px;
    font-family: inherit;
    height: 34px;
}

div.input-group  {
   display: block;
}

div.input-group > span {
    display: none
}